<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">

</head>
<body style="background-color:#2980B9">

<div class="container">
  <div class="row">
    <div class="col-md-12">
	    <h1 class="text-center">Conference Manager</h1>
    </div>
  </div>
</div>

<div class="container">
<!--
  <div class="row demo-row">
        <div class="col">
          <a href="#fakelink" class="btn btn-block btn-lg btn-primary">Primary Button</a>
        </div>
        <div class="col">
          <a href="#fakelink" class="btn btn-block btn-lg btn-warning">Warning Button</a>
        </div>
        <div class="col">
          <a href="#fakelink" class="btn btn-block btn-lg btn-default">Default Button</a>
        </div>
        <div class="col">
          <a href="#fakelink" class="btn btn-block btn-lg btn-danger">Danger Button</a>
        </div>
  </div> 
-->

  <div class="row demo-row">
        <div class="col">
          <a href="/calendar/" class="btn btn-block btn-lg btn-success">Create or change conference</a>
        </div>
        <div class="col">
          <a href="/calendar/" class="btn btn-block btn-lg btn-info">Conference Info</a>
        </div>
        <div class="col">
          <a href="#fakelink" class="btn btn-block btn-lg btn-default disabled">Disabled Button</a>
        </div>
   </div> <!-- /row -->
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
